In [1]:
import pandas as pd

In [17]:
# By reading CSV file

In [3]:
df1 = pd.read_csv(r'C:\My Projects\Pandas basics\weather_data.csv')
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [18]:
# By reading excel file

In [6]:
df2 = pd.read_excel(r'C:\My Projects\Pandas basics\weather_data.xlsx')
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [22]:
# Using Dictionary

In [7]:
data = {
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}

df3 = pd.DataFrame(data)
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [20]:
# Using Tuple

In [8]:
data = [
     ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

df4 = pd.DataFrame(data,columns=['day',
    'temperature',
    'windspeed',
    'event'])
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [21]:
# Using list of Dictionaries

In [11]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    ]
df5 = pd.DataFrame(data,columns=['day',
    'temperature',
    'windspeed',
    'event'])
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow