In [1]:
import pandas as pd

In [9]:
# Reading CSV

In [3]:
data = pd.read_csv(r'C:\My Projects\Pandas basics\dataset\stock_data.csv')
data

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
data = pd.read_csv(r'C:\My Projects\Pandas basics\dataset\stock_data.csv', 
                    na_values={
                        'eps':['not available'],
                        'revenue':['-1'],
                        'price':['n.a.']
                    })
data

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0           n.a.
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [10]:
# Writing CSV

In [8]:
path = r'C:\My Projects\Pandas basics\dataset\\'
data.to_csv(path+'modified_csv',index=False)

In [11]:
# Reading Excel

In [12]:
df = pd.read_excel(r'C:\My Projects\Pandas basics\dataset\stock_data.xlsx')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [13]:
def convert_people_cell(cell):
    if cell=="n.a.":
        return 'Sam Walton'
    return cell

def convert_price_cell(cell):
    if cell=="n.a.":
        return 100
    return cell

df = pd.read_excel(r'C:\My Projects\Pandas basics\dataset\stock_data.xlsx',converters={
     'people': convert_people_cell,
     'price':convert_price_cell
})

df

  tickers            eps  revenue  price         people
0   GOOGL          27.82       87    845     larry page
1     WMT           4.61      484     65     Sam Walton
2    MSFT             -1       85     64     bill gates
3    RIL   not available       50   1023  mukesh ambani
4    TATA            5.6       -1    100     ratan tata

In [14]:
# Writing excel

In [16]:
path = r'C:\My Projects\Pandas basics\dataset\\'
df.to_excel(path+'modified_excel.xlsx',sheet_name='stocks',index=False)

In [17]:
# Put two dataframes into two separate excel sheets

In [18]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [500, 50, 60 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [21]:
with pd.ExcelWriter(path+'stocks_weather_data.xlsx') as w:
    df_stocks.to_excel(w,sheet_name='stocks')
    df_weather.to_excel(w,sheet_name='weather')