In [1]:
import pandas as pd

In [2]:
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [3]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [4]:
# Custom format
pd.to_datetime('2017$01$05', format='%Y$%m$%d')

Timestamp('2017-01-05 00:00:00')

In [5]:
pd.to_datetime('2017#01#05', format='%Y#%m#%d')

Timestamp('2017-01-05 00:00:00')

In [8]:
pd.to_datetime(['2017-01-05', 'Jan 2, 2000', '1234 '], errors='ignore')

Index(['2017-01-05', 'Jan 2, 2000', '1234 '], dtype='object')

In [9]:
# handling epoch (Unix time)(no. of seconds till 1970 Jan 1)

In [15]:
t = 1607623350
cur = pd.to_datetime([t],unit='s')

In [16]:
cur.view('int64')

array([1607623350000000000], dtype=int64)